.columns.block.columns-3-cols > div > div {
  flex: 1;
  padding: 32px 24px;
  background-color: #ddb178;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* ✅ align from top consistently */
  border-right: 1px solid #a97d40;
  position: relative;
  max-width: 400px;
  row-gap: 10px;
}

/* Remove right border from last */
.columns.block.columns-3-cols > div > div:last-child {
  border-right: none;
}
