/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {}

/* hero banner midsouthmach */
.hero {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  min-height: 500px;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero [data-aue-prop="text"] {
  background-color: rgba(255, 255, 255, 0.95);
  opacity: .95;
  color: #22366d;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  width: 30%;
  height: 100%;
  padding: 2rem;
  top: 0;
}

.hero [data-aue-prop="text"] h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;

}

.hero [data-aue-prop="text"] p {
  font-size: 1.25rem;
  line-height: 1.5;
  color: #5a5d60;
}

.hero a.button:any-link, button {
  font-weight: 400;
  font-size: 1rem;
  background-color: transparent;
  color: #22366d;
  cursor: pointer;
  text-decoration: none;
}

.hero a:any-link:hover {
  text-decoration: underline;
}

/* end hero banner midsouthmach */

/* text midsouthmach */

section p {
  text-align: center;
  margin-bottom: 1rem;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #22366d;
}

.text {
  max-width: 960px;
  margin: 2rem auto;
  padding: 0 1rem;
  font-family: "Arial", sans-serif;
  color: #22366d;
  line-height: 1.6;
  font-size: 1.1rem;
  text-align: center;
}

.text p {
  margin-bottom: 1rem;
}

.text h2,
.text h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 2rem 0 1rem;
  text-align: center;
  color: #22366d;
}

.text ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.text ul li {
  margin: 0.5rem 0;
  padding-left: 1.2rem;
  position: relative;
  font-weight: 500;
}

.text ul li::before {
  content: "–";
  position: absolute;
  left: 0;
  color: #22366d;
  font-weight: bold;
}

/* end text midsouthmach */

/* image grid */
.columns .default-content-wrapper div {
  display: inline-flex; 
  padding: 20px
}

.columns.section .default-content-wrapper {
  max-width: fit-content;
}
.columns.section {
  background-color: #f2ceae;
}
/* end image grid */

/* header midsoutmach */

header .nav-wrapper {
  background-color: var(--nav-background-color, #fff);
  width: 100%;
  z-index: 2;
  position: fixed;
  border-bottom: 1px solid #ccc;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height, 80px)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-height, 80px);
  padding: 0 20px;
  font-family: var(--body-font-family, Arial, sans-serif);
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height, 80px)
    'sections sections' 1fr
    'tools tools' var(--nav-height, 80px) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1264px;
    padding: 0 20px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: #22366d;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

header nav a:any-link:hover {
  color: #e4002b;
  text-decoration: underline;
}

header nav a.button {
  background: transparent !important;
  color: #22366d !important;
  text-decoration: none !important;
  border: none !important;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 0;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

header nav a.button:hover,
header nav a.button:focus {
  background: transparent !important;
  color: #e4002b !important;
  text-decoration: underline !important;
  outline: none;
}

header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color, #fff);
  color: inherit;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s, 20px);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

header nav .nav-sections ul > li {
  font-weight: 600;
  position: relative;
  padding: 0 12px;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 400;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 0;
  }

  /* vertical separators */
  header nav .nav-sections ul > li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 20%;
    height: 60%;
    width: 1px;
    background-color: #ccc;
  }

  header nav .nav-sections ul > li[aria-expanded='true'] > ul {
    display: block;
    position: fixed;
    top: calc(var(--nav-height, 80px) + 1px);
    padding: 20px;
    background-color: var(--light-color, #fff);
    left: 0;
    width: 100vw;
  }

  header nav .nav-sections ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color, #fff);
  }

  header nav .nav-sections ul > li > ul > li {
    padding: 8px 0;
  }
}

header nav .nav-tools {
  grid-area: tools;
}

header nav .nav-tools a {
  font-size: 16px;
  font-weight: 600;
  color: #22366d !important;
}

header nav .nav-tools a:hover {
  color: #e4002b !important;
  text-decoration: underline !important;
}

/* end header midsoutmach */

